body {
    background-color:rgb(249, 251, 242);
}

@font-face {
    font-family:Comfortaa;
    src:url(fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family:Starborn;
    src:url(fonts/Starborn.ttf);
}

h1 {
    font-family: Comfortaa, Tahoma, sans-serif;
    font-size: 54px;
    color:rgb(34, 12, 16);
    text-align: center;
    
}

h2{
    font-family: Comfortaa, Tahoma, sans-serif;
    font-size: 36px;
    color:rgb(34, 12, 16);
}


p{
    font-family: Comfortaa, Tahoma, sans-serif;
    font-size: 24px;
    color:rgb(34, 12, 16);
    
}
